<div class="card">
  <div class="card-header">Editar albarán</div>

  <div class="card-body">
    <form id="formEditarAlbaran">

      <div class="mb-3">
        <label class="form-label">Fecha</label>
        <input type="date" name="fecha" class="form-control">
      </div>

      <div class="mb-3">
        <label class="form-label">Observación</label>
        <textarea name="observacion" class="form-control"></textarea>
      </div>

      <button id="btnGuardarAlbaran" class="btn btn-primary">Guardar</button>
      <button id="btnVolver" type="button" class="btn btn-light ms-2">Volver</button>

    </form>
  </div>
</div>
